{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}


{% block content %}
<article class="container">
<h1 class="text-center big-title mb-4"> The Music of Queen</h1>
<p class=" text-center fs-4">From the classic "Bohemian Rapsody” to the underground “The Miracle,” discover the sound of the Queen generation.</p>



</article>
{% endblock %}

