
√{% extends '_templates/base.njk' %}
{% block page_title %}Meet the Band{% endblock %}

{% block content %}
<div class="container">
<h1> Long Live Queen! </h1>
  <p class="text-center">Queen is one of the most iconic rock bands in history, known for their electrifying performances, genre-defying sound, and legendary frontman Freddie Mercury. This site explores the band’s unforgettable members and dives into their groundbreaking discography, from anthems like Bohemian Rhapsody to We Will Rock You. Whether you're a lifelong fan or just discovering their music, take a journey through Queen’s legacy.</p>
</div>
{% endblock %}
