html, body {
  margin: 0;
  padding: 0;
}

#jumbo {
    background: url(../img/img-queen/queen-live-on-stage.jpg) no-repeat center;
    background-size: contain;
    color: white;
    padding-top: 12rem;
  }
  
  #jumbo {
    margin-bottom: 30px;
  }